.loader-container {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.4);
  div {
    margin: auto;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50% -50%);
  }
}
.show {
  display:block;
}

