.provided-routes-container {
  position: relative;
  margin: auto;
}

.provided-routes-list {
  position: relative;
  top: 50%;
  width: 40%;
  margin: auto;
  background-color: rgba(1,66,83,255);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 75vh;
}

.provided-list-header {
  background-color: rgba(255,66,83,255);
  width: 100%;
}

.overlay {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  width:40%;
  margin: auto;
  background: rgba(20,20,20,0.4);
}