.provided-route {
  margin: auto;
  background-color: var(--var-darker-bg-color);
  margin: 1rem;
  border-radius: 1rem 5rem;
  padding: 1rem;
  padding-left: 4rem;

  p span, h5 span {
    color: var(--var-light-accent-color);
  }
}
.display-divider {
  background-color: var(--var-light-accent-color) !important;
}

.path-text {
  span:nth-child(even) {
    color: lightgray;
  }
  span:nth-child(odd) {
    font-size: 75%;
    color: lightgray;
  }
  span:first-of-type {
    color: var(--var-light-accent-color);
    font-size: 100%;
  }
  span:last-of-type {
    color: var(--var-light-accent-color);
    font-size: 100%;
  }
}
