.divider {
    background-color: lightgray;
    width: 95%;
    height: 1px;
    margin: 1rem auto;
}

.sidebar-container {
    --bs-offcanvas-bg: var(--var-accent-color) !important;
    color: var(--var-light-text-color) !important;
}

@media (max-width: 768px) {
    .sidebar-container {
        width: 100vw !important;
    }
}