:root {
  --var-accent-color: #c3c3ff;
}

* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  overflow-x: none;
}
body {
    background-color: rgba(36,83,103,255);
    color: white;
}

@keyframes move-twinkling-back {
  from {background-position: 0 0;}
  to {background-position: -10000px 5000px;}
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  user-select: none;
}

.stars {
  background: #000 url(../assets/img/stars.png) repeat top center;
  z-index: 0;
}
.twinkling {
  background: transparent url(../assets/img/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twinkling-back 200s linear infinite;
}

.some-routing-template {
  position: absolute;
  display: flex;
  justify-content: center;
  justify-items: center;
  color: red;
  z-index: 4;
}