@import './starsBackground.scss';

:root {
  --var-darker-bg-color: #030a2b;
  --var-dark-bg-color: #081448;
  --var-light-text-color: white;
  --var-mid-dark-bg-color: #282157;
  --var-light-accent-color: #9490e7;
  --var-accent-color: #4a478a;
}

body {
  overflow: hidden;
}
.page-container {
  overflow-y: hidden;
  position: relative;
  display:flex;
  flex-direction: column;
  height: 100vh;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--var-dark-bg-color);
  z-index:3;
  max-width:900px;
  color: var(--var-light-text-color);
  * {
    z-index:3;
    color: var(--var-light-text-color);
  }
}
.routing-section {
  display: flex;
  justify-content: center;
  justify-items: center;
  a {
    padding: 1rem;
    background: var(--var-mid-dark-bg-color);
    border-radius: 1rem;
    font-weight: bold;
    margin: 1rem;
  }
  a:hover {
    color: var(--var-light-text-color);
  }
  a.active {
    color: var(--var-light-accent-color)
  }
}